<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <import resource="easyhbase-default.xml"/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:easyhbase-example.properties</value>
            </list>
        </property>
    </bean>
    <context:component-scan base-package="cn.easyhbase.web"/>
    <mvc:annotation-driven/>

    <!--<bean id="hbaseConfiguration" class="cn.easyhbase.client.hbase.HbaseConfigurationFactoryBean">
        <property name="properties">
            <props>
                &lt;!&ndash; zookeeper  &ndash;&gt;
                <prop key="hbase.zookeeper.quorum">${hbase.client.host}</prop>
                <prop key="hbase.zookeeper.property.clientPort">${hbase.client.port}</prop>
                <prop key="zookeeper.znode.parent">${zookeeper.znode.parent:/hbase}</prop>

                &lt;!&ndash; kerberos config  &ndash;&gt;
                <prop key="hadoop.security.authentication">
                    ${hadoop.security.authentication:simple}
                </prop>
                <prop key="hbase.security.authentication">
                    ${hbase.security.authentication:simple}
                </prop>
                <prop key="kerberos.principal">
                    ${kerberos.principal}
                </prop>
                <prop key="keytab.file">
                    ${keytab.file}
                </prop>
                <prop key="hbase.rpc.protection">${hbase.rpc.protection:privacy}</prop>

                &lt;!&ndash; hbase default:true &ndash;&gt;
                <prop key="hbase.ipc.client.tcpnodelay">${hbase.ipc.client.tcpnodelay}</prop>
                &lt;!&ndash; hbase default:60000 &ndash;&gt;
                <prop key="hbase.rpc.timeout">${hbase.rpc.timeout}</prop>
                &lt;!&ndash; hbase default:Integer.MAX_VALUE &ndash;&gt;
                <prop key="hbase.client.operation.timeout">${hbase.client.operation.timeout}</prop>

                &lt;!&ndash; hbase socket read timeout. default: 200000&ndash;&gt;
                <prop key="hbase.ipc.client.socket.timeout.read">
                    ${hbase.ipc.client.socket.timeout.read}
                </prop>
                &lt;!&ndash; socket write timeout. hbase default: 600000&ndash;&gt;
                <prop key="hbase.ipc.client.socket.timeout.write">
                    ${hbase.ipc.client.socket.timeout.write}
                </prop>

                &lt;!&ndash; hbase async put operation. &ndash;&gt;
                <prop key="hbase.client.async.enable">${hbase.client.async.enable:false}</prop>
                <prop key="hbase.client.async.in.queuesize">
                    ${hbase.client.async.in.queuesize:10000}
                </prop>
                <prop key="hbase.tablemultiplexer.flush.period.ms">
                    ${hbase.client.async.flush.period.ms:100}
                </prop>
                <prop key="hbase.client.max.retries.in.queue">
                    ${hbase.client.async.max.retries.in.queue:10}
                </prop>
            </props>
        </property>
    </bean>
    <bean id="connectionFactory" class="cn.easyhbase.client.hbase.PooledHTableFactory">
        <constructor-arg ref="hbaseConfiguration"/>
        <constructor-arg value="${hbase.client.thread.max}"/>
        <constructor-arg value="${hbase.client.threadPool.queueSize}"/>
        <constructor-arg value="${hbase.client.threadPool.prestart:false}"/>
    </bean>

    <bean id="asyncOperation" class="cn.easyhbase.client.hbase.HBaseAsyncOperationFactory"
          factory-method="create">
        <constructor-arg value="#{connectionFactory.getConnection()}"/>
        <constructor-arg ref="hbaseConfiguration"/>
    </bean>

    <bean id="hbaseScanTemplate" class="cn.easyhbase.client.hbase.HbaseTemplate2">
        <property name="configuration" ref="hbaseConfiguration"/>
        <property name="tableFactory" ref="connectionFactory"/>
        <property name="enableParallelScan" value="${hbase.client.parallel.scan.enable:false}"/>
        <property name="maxThreads" value="${hbase.client.parallel.scan.maxthreads:16}"/>
        <property name="maxThreadsPerParallelScan"
                  value="${hbase.client.parallel.scan.maxthreadsperscan:4}"/>
    </bean>

    <bean id="metricRegistry" class="com.codahale.metrics.MetricRegistry">
    </bean>

    <bean id="asyncOperationMetrics"
          class="cn.easyhbase.client.hbase.monitor.HBaseAsyncOperationMetrics">
        <constructor-arg ref="asyncOperation"/>
    </bean>

    <bean id="hbaseAsyncTemplate" class="cn.easyhbase.client.hbase.HbaseTemplate2"
          destroy-method="destroy">
        <property name="configuration" ref="hbaseConfiguration"/>
        <property name="tableFactory" ref="connectionFactory"/>
        <property name="asyncOperation" ref="asyncOperation"/>
    </bean>

    <bean id="hbaseAdminTemplate" class="cn.easyhbase.client.hbase.HBaseAdminTemplate"
          destroy-method="close">
        <constructor-arg ref="hbaseConfiguration" index="0"></constructor-arg>
    </bean>

    <bean class="org.apache.hadoop.util.ShutdownHookManagerProxy"/>

    <bean id="baseRowKeyDistributor"
          class="cn.easyhbase.common.hbase.distributor.RowKeyDistributorByHashPrefix">
        <constructor-arg ref="baseRangeHasher"/>
    </bean>

    <bean id="baseRangeHasher"
          class="cn.easyhbase.common.hbase.distributor.RangeOneByteSimpleHash">
        <constructor-arg type="int" value="0"/>
        <constructor-arg type="int" value="33"/>
        <constructor-arg type="int" value="64"/>
    </bean>-->
</beans>
